<mat-toolbar class="toolbar-favorite">
  <span>My Application</span>
  @if(favoriteResult.id !== 0){
    <div>
      <span>Favorite character: {{favoriteResult.name}}</span>
      <span>, </span>
      <label for="">Location: <span>{{favoriteResult.location}}</span></label>
    </div>
  }
</mat-toolbar>
<div class="filter-container">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter a name" value="" [formControl]="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [formControl]="state">
      @for (state of status; track state) {
        <mat-option [value]="state.value">{{state.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="searchCharacter()">Search</button>
</div>
<div class="character-container">
  <div class="table-container">
    <app-table-container [dataSource]="data" (clickTableEvent)="openViewCharacter($event)"></app-table-container>
    <div class="pagination-container">
      <mat-card appearance="outlined" style="width: 49%;">
        <mat-card-content>Total species: {{totalSpecies}}</mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" style="width: 49%;">
        <mat-card-content>Total type: {{totalType}}</mat-card-content>
      </mat-card>
    </div>
    <div class="pagination-container">
      <button mat-flat-button color="primary" (click)="prevCharacters()" [disabled]="disbledPrevButton">Prev Character</button>
      <button mat-flat-button color="primary" (click)="nextCharacters()" [disabled]="disbledNextButton">Next Character</button>
    </div>
  </div>
  <div class="view-character-container">
    @if(resultSelected.id !== 0){
      <app-view-character
        [result]="resultSelected"
        (clickAddFavorite)="addFavorite($event)"
      ></app-view-character>
    }
  </div>
</div>

